button{
  margin: 10px;
  padding:10px 20px;
  font-size: 16px;
  cursor:pointer;
  font-weight:600 ;
}
.inc:hover{
  background-color: rgb(9, 255, 0);
}
.dec:hover{
  background-color: red;
}
.res:hover{
  background-color: blue;
}
h1{
  color: rgb(93, 7, 174);
}